.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-dark-green);
  border-bottom: 1px solid var(--color-brown);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  width: auto;
  border-radius: 15%;
  margin-left: 20px;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}
.text {
  font-family: var(--font-text);
  color: var(--color-beige);
}

.categories {
  display: flex;
  justify-content: center;
}

.categoryList {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: var(--font-text);
}

.categoryList a {
  color: var(--color-beige);
  text-decoration: none;
  transition: color 0.2s ease;
}

.categoryList a:hover {
  color: var(--color-medium-blue);
  text-decoration: underline;
}

.navActions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loginButton {
  padding: 0.5rem 1rem;
  height: 40px;
  background-color: var(--color-beige);
  color: var(--color-dark-green);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-text);
  transition: background-color 0.2s ease;
  margin-right: 10px;
  font-weight: bold;
}

.loginButton:hover {
  background-color: var(--color-medium-blue);
  color: var(--color-beige);
}

.cartIcon {
  font-size: 1.5rem;
  color: var(--color-dark-blue);
  cursor: pointer;
  transition: color 0.2s ease;
}

.cartIcon:hover {
  color: var(--color-medium-blue);
}
